 
  <div class="view" style=" background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <nav class="navbar navbar-dark ">
      <div class="navbar-brand">
        
        <b>Flight Reservation System</b>
      </div>
      <!-- <button type = "button" class ="btn btn-danger pull-right" (click)="logout()">LOGOUT</button> -->
    </nav>
    <div style="padding: 50px;" class="d-flex align-items-center justify-content-center">
       <div class="shadow-lg p-3 mb-5 bg-dark rounded" id="box" style="opacity: 1;">   
        <div class="container">
          <div class="row justify-content-center">
              <h2  class="font-weight-bold" style="color: white">Welcome User!!</h2>
          </div>
        </div><br>
        <div class="container">
          <div class="content-center">
              <div class="row">
                  <div class="col-sm-6" style="text-align: center;">
                    <button type = "button" class = "btn btn-light" (click)="booking()" >Booking Counter </button><br><br>  
                     </div>
                  <div class="col-sm-6" style="text-align: center;">
                  <button type = "button" class = "btn btn-light" (click)="history()" >Booking History</button><br><br>
                  
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
   
  </div>
 